body {
    font-family: 'Protest Strike', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ff8f57;
    border-radius: 15px;
    width: 250px;
    height: 150px;
    text-align: center;
    color: black;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-size: 35px;
}

.button {
    background-color: #242424;
    color: rgb(255, 238, 215);
    border: none;
    border-radius: 8px;
    padding: 10px 35px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.button[data-color="orange"] {
    background-color: #ff8f57;
    color: #242424;
}

.button[data-color="yellow"] {
    background-color: #ffcc00;
    color: #242424;
}